<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <!-- <link href="https://api.fontshare.com/v2/css?f[]=alpino@500&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit Beer</title>
</head>

<body>
    <%- include('../partials/_navbar') %>

        <h1>Edit <%= beer.name %>
        </h1>
        <form action="/beers/<%= beer._id %>?_method=PUT" method="POST" class="beer-form">
            <label for="name">Name:</label>
            <input type="text" name="name" value="<%= beer.name %>" />
            <label for="style">Style:</label>
            <input type="text" name="style" value="<%= beer.style %>" />
            <label for="flavorProfile">Flavor Profile:</label>
            <textarea name="flavorProfile" id="flavorProfile" rows="3" cols="50"><%= beer.flavorProfile %></textarea>
            <label for="abv">ABV:</label>
            <input type="number" name="abv" value="<%= beer.abv %>" step="0.1" min="0" max="20" />
            <span>%</span>
            <label for="ibu">IBU:</label>
            <input type="number" name="ibu" value="<%= beer.ibu %>" />
            <label for="malt">Malt:</label>
            <input type="text" name="malt" value="<%= beer.malt %>" />
            <label for="hops">Hops:</label>
            <input type="text" name="hops" value="<%= beer.hops %>" />
            <label for="foodPairing">Pairs With:</label>
            <textarea name="foodPairing" id="foodPairing" rows="3" cols="50"><%= beer.foodPairing %></textarea>
            <label for="availability">Availability:</label>
            <input type="text" name="availability" value="<%= beer.availability %>" />
            <button type="submit">Update Beer</button>
        </form>

</body>