<html lang="en">


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Brew Catalog</title>
</head>


<body>
    <%- include('../partials/_navbar') %>

        <section class="section">
            <div class="container">
                <h1 class="title has-text-centered">Our Craft Beer Collection</h1>

                <% if (user && user.role==='admin' ) { %>
                    <div class="has-text-centered mb-5">
                        <a href="/beers/new" class="button is-dark is-large title is-5">
                            <strong>Add New Beer</strong>
                        </a>
                    </div>
                    <% } %>

                        <div class="columns is-multiline">
                            <% beers.forEach(beer=> { %>
                                <div class="column is-4">
                                    <a href="/beers/<%= beer._id %>" class="card-link">
                                        <div class="card is-hoverable has-background-dark">
                                            <div class="card-content">
                                                <h3 class="title is-5 has-text-warning">
                                                    <%= beer.name %>
                                                </h3>
                                                <p class="subtitle is-6">
                                                    <%= beer.style %>
                                                </p>
                                                <div class="content">
                                                    <p><strong>ABV:</strong>
                                                        <%= beer.abv %>%
                                                    </p>
                                                    <p><strong>IBU:</strong>
                                                        <%= beer.ibu %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <% }); %>
                        </div>
            </div>
        </section>
</body>

</html>